# Core dependencies
streamlit
python-dotenv
PyPDF2
pypdf

# PDF processing
pdf2image
pytesseract
Pillow

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-huggingface
langchain_huggingface
langchain-groq
langchain-pinecone

# Vector databases
pinecone
# Remove faiss-cpu
torch